a:link, a:visited {
  color: black;
}
a:hover {
  color: #7fff00;
}

.App {
  text-align: center;
}

body {
  background: linear-gradient(to bottom right,#6b1616, #bf3333, #f61408);
}

div { 
  display: block;
  width: auto;
}

div .leftside { 
  float: left;
  width: 50%;
}

div .rightside { 
  position: fixed;
  width: 50%;
  left: 50%; 
  top: 30%;
} 

div .rightside-with-scroll { 
  float: right;
  width: 50%; 
} 

h4 { 
  font-size: .5 em;
} 

.link {
  padding-left:10px;
  padding-right:10px;
} 

@keyframes slidein-right {
  from {
    margin-left: 100%;
    width: 300%; 
    visibility: visible;
  }

  to {
    margin-left: 0%;
    width: 100%;
    visibility: visible;
  }
}

@keyframes slidein-left {
  from {
    margin-right: 100%;
    width: 0%; 
    visibility: visible;
  }

  to {
    margin-right: 0%;
    width: 100%;
    visibility: visible;
  }
}
