a:link, a:visited {
  color: black;
}
a:hover {
  color: #7fff00;
}

.App {
  text-align: center;
}

.App-header {
  background-color: black;
  color: #7fff00;
  height: 150px;
  padding: 20px;
}

.App-title-top {
  font-size: 1.5em; 
  animation-duration: 3s;
  animation-name: slidein-right;
} 

.App-title-middle {
  font-size: 1.5em; 
  animation-delay: 3s;
  animation-duration: 3s;
  visibility: hidden;
  animation-name: slidein-left;
} 

.App-title-bottom {
  font-size: 1.5em; 
  animation-delay: 5s;
  animation-duration: 4s;
  visibility: hidden;
  animation-name: slidein-right;
} 

button.navButton { 
  margin: 10px;
}

div { 
  display: block;
  width: auto;
}

div .leftside { 
  float: left;
  width: 50%;
}

div .rightside { 
  position: fixed;
  width: 50%;
  left: 50%; 
  top: 30%;
} 

div .rightside-with-scroll { 
  float: right;
  width: 50%; 
} 

h4 { 
  font-size: .5 em;
} 

.navbar .link {
  padding-left:10px;
  padding-right:10px;
} 

@keyframes slidein-right {
  from {
    margin-left: 100%;
    width: 300%; 
    visibility: visible;
  }

  to {
    margin-left: 0%;
    width: 100%;
    visibility: visible;
  }
}

@keyframes slidein-left {
  from {
    margin-right: 100%;
    width: 0%; 
    visibility: visible;
  }

  to {
    margin-right: 0%;
    width: 100%;
    visibility: visible;
  }
}
